.table-title-text {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-line-text {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.item-name-text {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
}

@media (min-width: 480px) {
  .item-name-text-desktop {
    font-size: 16px !important;
  }
}

@media (min-width: 480px) {
  .order-items-align-desktop
    > table
    > tbody
    > tr
    > td
    > table
    > tbody
    > tr
    > td
    > div {
    text-align: left !important;
  }
}

@media (min-width: 480px) {
  .order-items-padding-desktop > table > tbody > tr > td {
    padding: 0 55px 0 45px !important;
  }
}

.item-detail-text {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 19px;
}

@media (min-width: 480px) {
  .item-pricing-alignment-desktop > div {
    text-align: right !important;
  }
}

.purchase-price-text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 17px;
}

.list-price-text {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  text-decoration: line-through;
}

.data-text th,
.data-text td {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.data-spacing th {
  padding: 0 0 6px 0;
  text-align: left;
}

.data-spacing td {
  padding: 0 0 6px 0;
  text-align: right;
}

.order-status-text {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.2px;
}
